{% extends 'shared/_layout.html' %}
{% block title %}
    تماس با ما
{% endblock %}

{% block content %}
    <div id="contact-page" class="container">
    	<div class="bg">
    		<div class="row">
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">با ما در ارتباط باشیـد</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" action="{% url 'contact_us_page' %}" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="col-md-12 form-group {% if form.field.errors %} text-danger {% endif %}">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {{ field.error_messages }}
                                </div>
                            {% endfor %}
				            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">ارسال</button>
				            </div>
				        </form>
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">اطلاعات تماس</h2>
	    				<address>
	    					<p></p>
							<p>{{ site_setting.address }}</p>
							<p>تلفن تماس : {{ site_setting.phone }}</p>
							{% if site_setting.fax %}
                                <p>فکس : {{ site_setting.fax }}</p>
                            {% endif %}
							{% if site_setting.email %}
                                <p style="font-family: tahoma;">ایمیـل : {{ site_setting.email }}</p>
                            {% endif %}
	    				</address>
	    			</div>
    			</div>
	    	</div>
    	</div>
    </div>
{% endblock %}